<!DOCTYPE html>
<html>
    <head>
        <% include header %>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <!-- <script src="main.js"></script> -->
        <title>Blockchain Searcher | Bitcoin</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="content">
                <h3>Aqui você encontra informações sobre endereços de carteiras da main net do Bitcoin</h3>

                <fieldset>
                    <form action="/bitcoin" method="post">
                        <input name="publicKey" type="text" placeholder="Digite algo..." required>
                        <input type="submit" value="Search">
                        <p>Informações da carteira em questão...</p>
                    </form>
    
                    <% if(final_balance) { %>
                        <p>Address: <%= address %></p>
                        <p>Balança Final: <%= final_balance %> BTC</p>
                        <p>Total Recebido: <%= total_received%> BTC</p>
                        <p>Total Enviado: <%= total_sent%> BTC</p>
                        <p>Número final de transações: <%= final_n_tx %></p>
                    <% } else { %>
                        <p>Informações pertinentes à carteira especificada...</p>
                    <% } %>
                </fieldset>
            </div>
        </div>    
    </body>
</html>