<!DOCTYPE html>
<html>
    <head>
        <% include header %>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <title>Buscador de Endereços | Dogecoin</title>
    </head>
    <body>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <div class="content">
                <h3 class="chain-name">Dogecoin</h3>
                <p>Aqui você encontrará informações sobre endereços da blockchain da Dogecoin, a Dogechain. Caso não esteja de posse de um endereço (quem anda com isso na cabeça...), aqui 
                        vão alguns dos famosos:</p>
                <ul>
                    <li><strong class="list-addr justify-center">Exemplo: <span class="addrs-style">DHKM6NDUUv9kaHAGi1QU7MRBNKfQiAdP3F</span>.</strong> Cold wallet (carteira mantida "fora da internet") de uma das maiores exchanges (corretoras) de crypto.</li>
                </ul>
                <form action="/dogecoin" method="post">
                    <input name="publicKey" type="text" placeholder="Forneça o endereço..." class="search-input"  required>
                </form>
                <hr class="hr-style">
                <div class="row">
                    <div class="container">
                        <% if(final_balance!==null) { %>
                            <p class="addr_info">Address: <%= address %></p>
                            <p class="addr_info">Balança Final: <%= final_balance %> DOGE</p>
                            <p class="addr_info">Total Recebido: <%= total_received%> DOGE</p>
                            <p class="addr_info">Total Enviado: <%= total_sent%> DOGE</p>
                            <p class="addr_info">Número final de transações: <%= final_n_tx %></p>
                        <% } else { %>
                            <p class="addr_info">informações do endereço pesquisado serão mostradas logo abaixo caso o endereço da Blockchain especificada seja válida...</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>    
    </body>
    <% include footer %>
</html>